{#
/**
 * @file
 * Default theme implementation for services list.
 *
 * Available variables:
 * - url: Service link url
 * - text: Service link label
 * - attributes: Link attributes
 */
#}

<a href={{ url }} {{ attributes }}>{{ text }}</a>
